# ----------------------------------
# Python 忽略项
# ----------------------------------

# 忽略所有 Python 编译的字节码目录
__pycache__/

# 忽略所有 .pyc 文件
*.pyc

# 忽略 Python 虚拟环境 (如果使用了 venv 或 conda)
venv/
.venv/
env/